<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486893519057-3v3kb9id31f57t6d517ai10j019lv2n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486893519057-3v3kb9id31f57t6d517ai10j019lv2n7</string>
	<key>API_KEY</key>
	<string>AIzaSyDgb4porAYV5xsruk87IoXqwT6bc32plDo</string>
	<key>GCM_SENDER_ID</key>
	<string>486893519057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artacorp.com.Partytime</string>
	<key>PROJECT_ID</key>
	<string>partytime-8244</string>
	<key>STORAGE_BUCKET</key>
	<string>partytime-8244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486893519057:ios:7318ada1caeb7a32</string>
	<key>DATABASE_URL</key>
	<string>https://partytime-8244.firebaseio.com</string>
</dict>
</plist>